.main-container {
  font-size: clamp(0.8rem, 2.5vw, 1.5rem);
  width: 100%;
  height: 100%;
}

.webportal-screen {
  visibility: hidden;
}
.webportal-screen.active {
  visibility: visible;
}

.wrapper-contents {
  font-size: 1em;
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
}

.interactive-guide-carousel {
  font-size: 1em;
  overflow: hidden;
  width: min(100em, 67%);
  outline: 1px dashed #4c7585;
}
.interactive-guide-carousel__swiper-wrapper {
  font-size: 1em;
}
.interactive-guide-carousel__swiper-slide {
  font-size: 1em;
  display: grid;
  place-items: center;
}
.interactive-guide-carousel__swiper-slide > svg {
  font-size: 1em;
  display: block;
  max-width: 100%;
}

@media (min-width: 1024px) {
  .main-container {
    width: 100%;
    height: 100%;
  }
  .wrapper-contents {
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
  }
  .interactive-guide-carousel {
    width: min(100em, 95%);
    outline: 1px dashed #4c7585;
  }
  .interactive-guide-carousel__swiper-slide {
    display: grid;
    place-items: center;
  }
  .interactive-guide-carousel__swiper-slide > svg {
    max-width: 50%;
  }
}
.main-footer {
  font-size: 1em;
  position: fixed;
  bottom: 0;
  width: 100vw;
}
.main-footer .footer-contents-wrapper {
  font-size: 1em;
}
.main-footer .footer-contents-wrapper__btn {
  pointer-events: none;
}
.main-footer .footer-contents-wrapper__btn.active {
  pointer-events: auto;
}
.main-footer .footer-contents-wrapper__controls {
  font-size: 1em;
  padding: 1.5em;
  display: flex;
  align-items: end;
  justify-content: space-between;
}
.main-footer .footer-contents-wrapper__controls svg {
  font-size: 1em;
  display: block;
  width: 1.5em;
  transition: transform 150ms ease-in-out;
  will-change: transform;
}
.main-footer .footer-contents-wrapper__controls svg[aria-disabled=true] {
  opacity: 0.3;
}
.main-footer .footer-contents-wrapper__controls svg#btn-home {
  width: 1em;
  fill: #6199ae;
}
.main-footer .footer-contents-wrapper__controls svg:active {
  transform: scale(0.95);
}
.main-footer .footer-contents-wrapper__btn-and-home-wrapper {
  font-size: 1em;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}
.main-footer .footer-contents-wrapper__btn-and-home-wrapper svg#button-next {
  align-self: center;
}
.main-footer .footer-contents-wrapper__btn-home-wrapper {
  border-radius: 0.3em;
  background-color: #fff;
  padding: 0.5em;
  font-size: 1em;
}

.main-header {
  font-size: 1em;
  position: fixed;
  top: 0;
  width: 100vw;
  padding: 2em 0.5em;
  background-color: white;
  display: none;
}

@media (min-width: 1024px) {
  .main-header {
    display: block;
  }
}
.disclaimer-overlay {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: none;
  place-items: center;
  padding: 2em;
  background-color: #6199ae;
  color: #fff;
  font-size: clamp(1rem, 2vw, 2rem);
  text-align: center;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  outline: none !important;
}

body {
  width: 100%;
  height: 100vh;
  height: 100svh;
  background-color: #6199ae;
}

.swiper-slide {
  height: auto !important;
}/*# sourceMappingURL=styles.css.map */