@use "./variables";

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  height: 100vh;
  height: 100svh;

  background-color: variables.$primary-color;
}

.swiper-slide {
  height: auto !important;
}
